<form class="form-inline" ng-submit="dd()">
   <table datatable="ng" dt-options="dtOptionsPeople" dt-column-defs="dtColumnDefsPeople" class="row-border hover">
      <thead>
         <tr>
            <th ng-hide = "true"></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>Number</th>
            <th>City</th>
            <th>Zip</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-hide = "true" ng-repeat-start =  "company in companies">
            <td ng-hide = "true"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
         <tr ng-repeat-end ng-repeat = "people in company.people">
            <td ng-hide = "true"></td>
            <td >{{people.firstname}}</td>
            <td>{{people.lastname}}</td>
            <td>{{people.home.street}}</td>
            <td>{{people.home.number}}</td>
            <td>{{people.home.city}}</td>
            <td >{{people.home.zip}}</td>
         </tr>
      </tbody>
   </table>
</form>